/* Fundo branco */
body{
    /* Plano de fundo em degrade radial azul */
    background-image: url(Imagem-fundo.jpg);
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    
}
/* Fundo do título h1 */  
h1{
    background-color: #688EA6;        /* Cor de fundo do h1 */
    width: 600px;                     /* Define a largura do h1 */
    margin: 40px auto;                /* Espaçamento acima/abaixo e centraliza horizontalmente */
}  

/* Fundo dos títulos h2 */
h2 {
    background-color: #B6DBF2;        /* Cor de fundo do h2 */
    width: 700px;                     /* Define a largura do h2 */
    margin: 40px auto;                /* Espaçamento acima/abaixo e centraliza horizontalmente */
}

#titulo{
    text-align: center;                 /* Centraliza o texto do elemento com id titulo */
    color: #0A0B0D;                   /* Define a cor do texto em azul escuro */
}

/* Cor do id texto  */
#texto {
    color:violet;                     /* Define a cor do texto em violeta */
    text-align: center;               /* Centraliza o texto */
} 

.centro{
    text-align: center;               /* Centraliza qualquer elemento com essa classe */
}

.centroLista{
    text-align: center;               /* Centraliza texto das listas */
    list-style-position: inside;      /* Faz as bolinhas ficarem para dentro do elemento */
    padding-left: 40px;               /* Espaçamento à esquerda da lista */
}

.bloco-formulario{
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f0f0f0;
    margin: 20px auto;

}
/* Definindo caracteristica da imagem */
#Foto-perfil{
    display: block;
    margin: 40px auto;
    width: 300px;       /* tamanho da foto */
    height: 300px;      /* mesmo valor da largura */
    border-radius: 50%;
    margin: 40px auto; /* deixa a imagem redonda */
    object-fit: cover;  /* corta o excesso e centraliza */         /* Bordas arredondadas */
    
}

#Foto-perfil:hover {
  border: 5px solid #8c39da;          /* Borda roxa no hover */
  border-radius: 50%;                /* Bordas arredondadas no hover */
}

